/* The container */
.statusContainer {
  display: block;
  position: relative;
  padding-left: 1.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.statusContainer input {
  position: absolute;
  opacity: 0;
}
.checkmarkRadioAll {
  position: absolute;
  top: -0.5rem;
  left: 0.9rem;
  width: 50px;
  height: 1.87rem;
  border-radius: 10px;
}
.statusContainer input:checked~.checkmarkRadioAll {
  border: 1px solid;
}
.checkmarkRadioActive {
  position: absolute;
  top: -0.5rem;
  left: 1.18rem;
  width: 4.4rem;
  height: 1.87rem;
  border-radius: 10px;
}
.statusContainer input:checked~.checkmarkRadioActive {
  border: 1px solid;
}
.checkmarkRadioCompleted {
  position: absolute;
  top: -0.5rem;
  left: 1.13rem;
  width: 7rem;
  height: 1.87rem;
  border-radius: 10px;
}
.statusContainer input:checked~.checkmarkRadioCompleted {
  border: 1px solid;
}
.checkmarkRadioAll:hover,
.checkmarkRadioActive:hover,
.checkmarkRadioCompleted:hover {
  cursor: pointer;
}
@media (max-width: 400px) {
  .checkmarkRadioAll {
    left: 3rem;
  }
  .checkmarkRadioActive {
    left: 2.4rem;
  }
  .checkmarkRadioCompleted {
    left: 1.2rem;
  }
  .statusContainer {
    margin: 15px 15px;
  }
}