/* The container */
.statusContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.statusContainer input {
  position: absolute;
  opacity: 0;
}

// /* Create a custom radio button */
// .checkmark-radio {
//   position: absolute;
//   top: -9px;
//   left: 19px;
//   width: 50px;
//   height: 30px;
//   border-radius: 10px;
// }

// /* When the radio button is checked, add a border*/
// .container input:checked ~ .checkmark-radio {
// 	border: 1.5px solid;
// }

.checkmarkRadioAll {
  position: absolute;
  top: -9px;
  left: 19px;
  width: 50px;
  height: 30px;
  border-radius: 10px;
}



.statusContainer input:checked~.checkmarkRadioAll {
  border: 1.5px solid;
}

.checkmarkRadioActive {
  position: absolute;
  top: -9px;
  left: 19px;
  width: 72px;
  height: 30px;
  border-radius: 10px;
}

.statusContainer input:checked~.checkmarkRadioActive {
  border: 1.5px solid;
}

.checkmarkRadioCompleted {
  position: absolute;
  top: -9px;
  left: 19px;
  width: 108px;
  height: 30px;
  border-radius: 10px;
}

.statusContainer input:checked~.checkmarkRadioCompleted {
  border: 1.5px solid;
}

.checkmarkRadioAll:hover,
.checkmarkRadioActive:hover,
.checkmarkRadioCompleted:hover {
  cursor: pointer;
}

@media (max-width: 400px) {
  .checkmarkRadioAll {
    left: 49px;
  }

  .checkmarkRadioActive {
    left: 38px;
  }

  .checkmarkRadioCompleted {
    left: 21px;
  }
}